{{ define "main" }}
<section class="section">
  <div class="container">
    <h1>Daftar Kota Properti</h1>
    <div class="row">
      {{ range .Site.Data.lokasi }}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5>{{ .nama }}</h5>
            <p>{{ .deskripsi }}</p>
            <a href="/properti/{{ .kota }}/" class="btn btn-outline-primary">Lihat Properti</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
